@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282828;
  color: #fff;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  border-bottom: 1px solid #fff;
}
nav h1 {
  font-size: xxx-large;
  margin: 0;
}
button {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 3rem;
  background: linear-gradient(180deg, #282828, #202020);
  border-radius: 10px;
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 10px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}
button::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}
button i {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: medium;
}